.App {
  width: 100%;
  height: auto;
  min-height: 100%;
  padding-top: 100px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  color: #39425a;
  position: relative;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
